//Input mixin type, placeholder, disabled, name
mixin pug-input(type, placeholder, disabled, name)
  input(type=type, placeholder=placeholder, disabled=disabled, name=name).form-input

mixin head-tag(title)
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href=" ../../style.scss")
    link(rel="stylesheet" href="style.scss")
    block 

mixin chat-message(src, name, message, postDate, unreadCount)
  .chat
    .avatar
      img(src=src alt="avatar")
    .chat-info 
      span.chat-user= name
      span.chat-last-msg= message
    .chat-system 
      span.chat-time= postDate
      .chat-unread-msg= unreadCount