doctype html 
head 
  title Profile 
  link(rel="stylesheet" href=" ../../styles/index.scss")
  link(rel="stylesheet" href="style.scss")
body
    .wrapper.profile__wrapper
      a(href='../../index.pug')
        button.back__section
          img.back__img(src="../../../static/icons/back.png", alt="back")
      .profile__container
        .user__container 
          .avatar__img
            img(src="../../../static/icons/Union.png", alt="avatar").avatar__icon
          .user__name
            h2 Иван
          form.user-data__container
            .user__mail
              label Почта
              input(type="mail" placeholder="pochta@yandex.ru" disabled=false name="email")
            .user__login
              label Логин
              input(type="text" placeholder="ivanivanov" disabled=false name="login")
            .user__name
              label Имя
              input(type="text" placeholder="Иван" disabled=false name="first_name")
            .user__last-name
              label Фамилия
              input(type="text" placeholder="Иванов" disabled=false name="second_name")
            .user__chat-name
              label Имя в чате
              input(type="text" placeholder="Иван" disabled=false name="display_name")
            .user-phone
              label Телефон
              input(type="phone" placeholder="+7 (909) 967 30 30" disabled=false name="phone")
          a(href="./profile.pug")
            button.save__edit.btn Сохранить
            

